@import url(./Assets/styles/variables.css);
@import url(./Assets/styles/text.css);
@import url(./Assets/styles/container.css);
@import url(./Assets/styles/display.css);
@import url(./Assets/styles/columns.css);

:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--gray-100);
  color: var(--gray-500);
  font-family: var(--font-primary);
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
}

section {
  margin-top: 12px;
  margin-bottom: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
  margin: 8px 0px;
}

p,
a,
button,
input {
  font-family: var(--font-primary);
  font-weight: 200;
}

a {
  text-decoration: none;
  color: var(--gray-500);
}

.card {
  border: 1px solid var(--gray-100);
  padding: 12px 10px;
}

@media (min-width: 768px) {
  section {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .card {
    border: 1px solid var(--gray-100);
    padding: 16px 12px;
  }
}

@media (min-width: 1024px) {
  section {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}
