.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}

/* ######################################## */
/* ######################################## */
/* ######################################## */

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

/* ====================================== */

.flex-center {
  display: flex;
  justify-content: center;
  align-content: center;
}

/* ====================================== */

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

/* ====================================== */

.flex-between {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

/* ====================================== */

.flex-around {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

/* ######################################## */

.flex-column-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}

/* ====================================== */

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

/* ====================================== */

.flex-column-end {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: center;
}

/* ====================================== */

.flex-column-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

/* ====================================== */

.flex-column-around {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}

/* ######################################## */
/* ######################################## */
/* ######################################## */

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.align-center {
  align-items: center;
}
.align-start {
  align-items: start;
}
.align-end {
  align-items: end;
}
.align-baseline {
  align-items: baseline;
}

.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: start;
}
.justify-end {
  justify-content: end;
}
.justify-around {
  justify-content: space-around;
}
.justify-between {
  justify-content: space-between;
}

/* ######################################## */
/* ######################################## */
/* ######################################## */

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media (min-width: 1280px) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
  }
}
